@using CommonNews.Web.ViewModels.Post
@model IEnumerable<PostViewModel>

@{
    ViewBag.Title = "My Posts";
}

<h2>My Posts</h2>

<button class="btn btn-primary create-new-post">
    @Html.ActionLink("Create New", "Create")
</button>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading row">
                <div class="col-md-2">Image</div>
                <div class="col-md-2">@Html.DisplayNameFor(model => model.Title)</div>
                <div class="col-md-6">@Html.DisplayNameFor(model => model.Content)</div>
                <div class="col-md-2"></div>
            </div>
            @foreach (var post in Model)
            {
                <div class="panel-body row">
                    <div class="col-md-2 image_url">
                        <a href="/posts/details/@post.Id">
                            <img class="post-image" src="@post.ImageUrl" alt="post image" />
                        </a>
                    </div>
                    <div class="col-md-2 my-posts-title">
                        @Html.DisplayFor(modelItem => post.Title)
                    </div>
                    <div class="col-md-6 my-posts-content">
                        @Html.DisplayFor(modelItem => post.Content)
                    </div>
                    <div class="col-md-2">
                        @Html.ActionLink("Edit", "Edit", new { id = post.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = post.Id }) |
                        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Delete", "Delete", new { id = post.Id })
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>