@using CommonNews.Web.ViewModels.Home
@model PostViewModel
<div class="col-md-4">
    <h2>@Model.Title</h2>
    <img class="compact-post-image" src="@Model.ImageUrl" alt="Image" />
    <p>@Model.Content</p>
    <p>@Html.DisplayFor(x => Model.PostedOn) - @Model.AuthorEmail</p>
</div>
